spring:
  application:
    name: stockapi

  profiles:
    active: production

  output:
    ansi:
      enabled: ALWAYS

  datasource:
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true


  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID:seu-id-aqui}
            client-secret: ${GOOGLE_CLIENT_SECRET:seu-secret-aqui}
            scope:
              - email
              - profile

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USERNAME}
    password: ${EMAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

alert:
  recipient:
    email: ${ALERT_RECIPIENT_EMAIL}


api:
  security:
    token:
      secret: ${JWT_SECRET:minha-chave-secreta-muito-forte-e-longa-123456}